
.image{
  width:600px;
  float: left;
}
.middle{
  width: 300px;
  float: left;
  margin-left: 150px;
  margin-top: 170px;

}
.image img{
  width:600px;
  height:600px;
  clip-path: polygon(0 0, 0 100%, 100% 49%);
}

.footer{
  float: right;

}
.footer img{
  width: 200px;
  height: 100px;
  float: left;
}
.copyright {
  float: left;
  margin-top: 550px;
  margin-left: 200px;

}

.copyright a{
	
	color: #00918e;
	text-decoration: none; 
}
button{
  width:58%;
}
